.visibilityIconPW {
  position: absolute;
  bottom: 245px;
  right: 13px;
  color: gray;
  cursor: pointer;
}

.visibilityIconConfirmPW {
  position: absolute;
  bottom: 120px;
  right: 13px;
  color: gray;
  cursor: pointer;
}
